.gwg-kassel{

    padding-top: 110px;

    // header
    header.header{
        width: 100%;
        position: fixed;
        left: 0px;
        top: 0px;
        z-index: 12345897233;

        & > .main-wrap{
            height: 110px;
            background-color: white;
        }
    }

    .site-nav-desktop{
        ul{
            list-style: none;
            margin: 0px;
            padding: 0px;

            li{
                display: inline-block;
                vertical-align: middle;
                margin: 0 10px 0 0;
                padding: 0px;
                font-family: var(--site-secondary-font);
                font-weight: var(--site-secondary-font-regular);
                text-transform: uppercase;
                font-size: 20px;
                color: var(--site-primary-color);
                letter-spacing: 0.19rem;

                &.has-sub-menu{
                    position: relative;

                    &:hover{
                        .sub-menu{
                            display: block;
                        }
                    }

                    .sub-menu{
                        position: absolute;
                        left: 0px;
                        width: 250px;
                        padding-top: 40px;
                        display: none;

                        ul{
                            border-radius: 20px;
                            background-color: var(--site-secondary-color-light-2);
                            padding: 30px 0;

                            & > li{
                                display: block;
                                margin-right: 0px;
                                margin-top: 15px;
                                font-size: 18px;

                                &:first-child{
                                    margin-top: 0px;
                                }

                                a{
                                    display: block;
                                    padding: 0 30px;
                                }
                            }
                        }
                    }
                }

                @media screen and (min-width: $xxl){
                    margin-right: 55px;
                }

                &:last-child{
                    margin-right: 0px;
                }

                &:hover, &.active{
                    color: var(--site-secondary-color);

                    & > a{
                        color: var(--site-secondary-color);
                    }
                }

                & > a{
                    color: var(--site-primary-color);
                    text-decoration: none;
                }
            }
        }
    }
    
    
}