:root{
    // grid and column
    --container-inset-left-right: 116px;

    // fonts
    --site-primary-font: 'Inter';
    --site-primary-font-regular: normal;
    --site-primary-font-Semibold: 600;
    --site-primary-font-bold: bold;
    --site-secondary-font: 'League Gothic';
    --site-secondary-font-regular: normal;


    // colors
    --site-primary-color: #253081;
    --site-primary-color-light: #bca8ff;
    --site-primary-color-light-2: #c8cae0;
    --site-secondary-color: #58d38c;
    --site-secondary-color-light: #eefbf2;
    --site-secondary-color-light-2: #EEFBF3;
    --site-danger-color: #eb6a6a;
    --site-danger-color-light: #ffbea2;
    --site-light-bg-type-1: #efeef4;
    --site-colored-border-1: #878CB7;
    --site-colored-border-2: #C8CBDF;
    --site-light-color-1: #9297C0;
    --site-light-color-2: #eeeff5;
    --site-danger-dark: #842029;
    --site-danger-light-bg: #f8d7da;
    --site-danger-light-border: #f5c2c7;
    


}



















 // breakpoints
 $xs: 0;
 $sm: 576px;
 $md: 768px;
 $lg: 768px;
 $xlg: 1200px;
 $xl: 1300px;
 $xxl: 1800px;




